  /* Sayfa düzenini ve A4 boyutunu ayarlıyoruz */
  @page {
    size: A4;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.page {
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    page-break-before: always;
}

.page:first-of-type {
    page-break-before: auto;
}

/* İçeriğin gri alanlardan ayrılması */
.background {
    background-color: #d3d3d3;
    height: 100%;
    width: 100%;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    max-height: calc(100% - 80px); /* Sayfanın içerik alanını sınırlama */
}

.header, .footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 10px 0;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}